/*========== Default ==========*/
.nav-wrapper, body, footer {
    font-family: 'Bangers', cursive; /* use for headers only */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: #FFFFFF;
}

.parallax-container {
    height: 600px;
    /* padding-top: 15%;
    padding-bottom: 15%; */
}

.headers, footer {
    font-family: 'Bangers', cursive; /* use for headers only */
    color: #FFFFFF;
}

h1.headers {
    font-size: 100px;
}

h2.headers {
    font-size: 90px;
}

/*========== Navigation Bar ==========*/
.nav-wrapper a.brand-logo, .nav-wrapper li a {
    color: #000000;
    font-family: 'Bangers', cursive; /* use for headers only */
}

/*========== Navigation Bar Mobile ==========*/
i#homeScroll.material-icons {
    color: #000000;
}

/*========== Content Body ==========*/
.parallax-container {
    /* height: 500px; */
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10%;
}

#aboutMe {
    font-family: 'Bangers', cursive; /* use for headers only */
}

div.col.s6 ul.lang{
    list-style-type: circle;
}

div.col.s6 img.circle {
    display: block;
    margin: 0 auto;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 2), 2px 2px 17px 2px rgba(0, 0, 0, 1);
}

div#projectInfo.col.s2, div#projectInfo.col.s8 {
    text-align: center;
}

div#projDescription.row {
    display: block;
    margin: 0 auto;
}

div#portfolioSection.col.s12 {
    padding-top: 10%;
}

.col.s4 img {
    max-width: 270px;
    max-height: 270px;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 2), 2px 2px 17px 2px rgba(0, 0, 0, 1);
}

.container a {
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.col.s12 a {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

div.col.s12 a.email {
    padding: 2%;
    color: #000000;
    font-weight: bold;
}

button {
    font-size: 20px;
    font-weight: 900;
    padding: 15px 30px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
    text-decoration: none;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 2), 2px 2px 17px 2px rgba(0, 0, 0, 1);
}

button.linkedIn {
    display: block;
    margin: auto;
    background-color: #0101CA;
}

button.linkedIn a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-left: 25px;
}

button.linkedIn a:before {
    content: '\f0e1'; /* LinkedIn font awesome unicode */
    font-family: fontAwesome;
    position: absolute;
    left: 3px;
}

button.gitHub {
    display: block;
    margin: auto;
    background-color: #0101CA;
}

button.gitHub a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-left: 35px;
}

button.gitHub a:before {
    content: '\f09b'; /* GitHub font awesome unicode */
    font-family: fontAwesome;
    position: absolute;
    left: 3px;
}

/*========== Footer ==========*/
#copyright {
    color: #000000;
    text-align: center;
    font-family: 'Bangers', cursive;
}