/*========== Default ==========*/
.nav-wrapper, body, footer {
    font-family: 'Bangers', cursive; /* use for headers only */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: #FFFFFF;
}

.parallax-container {
    height: 600px;
    /* padding-top: 15%;
    padding-bottom: 15%; */
}

.headers, footer {
    font-family: 'Bangers', cursive; /* use for headers only */
    color: #FFFFFF;
}

h1.headers {
    font-size: 100px;
}

h2.headers {
    font-size: 90px;
}

/*========== Navigation Bar ==========*/
.nav-wrapper a.brand-logo, .nav-wrapper li a {
    color: #000000;
    font-family: 'Bangers', cursive; /* use for headers only */
}

/*========== Navigation Bar Mobile ==========*/
i#homeScroll.material-icons {
    color: #000000;
}

/*========== Content Body ==========*/
.parallax-container {
    /* height: 500px; */
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10%;
}

#aboutMe {
    font-family: 'Bangers', cursive; /* use for headers only */
}

div.col.s6 ul.lang{
    list-style-type: circle;
}

div.col.s6 img.circle {
    display: block;
    margin: 0 auto;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 2), 2px 2px 17px 2px rgba(0, 0, 0, 1);
}

div#projectInfo.col.s2, div#projectInfo.col.s8 {
    text-align: center;
}

div#projDescription.row {
    display: block;
    margin: 0 auto;
    padding-top: 5%;
}

div#portfolioSection.col.s12 {
    padding-top: 10%;
}

/*==========*/

#myImg {
    border-radius: 5px;
    cursor: 
    transition 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*==========*/
.col.s4 img {
    max-width: 270px;
    max-height: 270px;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 2), 2px 2px 17px 2px rgba(0, 0, 0, 1);
}

.container a {
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.col.s12 a {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

div.col.s12 a.email {
    padding: 2%;
    color: #000000;
    font-weight: bold;
}

button {
    font-size: 20px;
    font-weight: 900;
    padding: 15px 30px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
    text-decoration: none;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 2), 2px 2px 17px 2px rgba(0, 0, 0, 1);
}

button.linkedIn {
    display: block;
    margin: auto;
    background-color: #0101CA;
}

button.linkedIn a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-left: 25px;
}

button.linkedIn a:before {
    content: '\f0e1'; /* LinkedIn font awesome unicode */
    font-family: fontAwesome;
    position: absolute;
    left: 3px;
}

button.gitHub {
    display: block;
    margin: auto;
    background-color: #0101CA;
}

button.gitHub a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-left: 35px;
}

button.gitHub a:before {
    content: '\f09b'; /* GitHub font awesome unicode */
    font-family: fontAwesome;
    position: absolute;
    left: 3px;
}

/*========== Footer ==========*/
footer {
    padding-top: 5%;
}

#copyright {
    color: #000000;
    text-align: center;
    font-family: 'Bangers', cursive;
}